.example-card {
    max-width: 100%;
    text-align: center;
}

.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div.scroll {
    max-height: 28rem;
}

div#div1 {
    overflow-x: auto;
    overflow-y: auto;
}

div#div2 {
    overflow-x: hidden;
    overflow-y: hidden;
}

::ng-deep .mat-select-panel {
    background-color: rgba(0,0,0,0.7);
}

@media (max-width: 1200px){
    .charts{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px){
    .charts{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px){
    .charts{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px){
    .charts{
        display: grid;
        grid-template-columns: 1fr;
    }
}